/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('../fonts/inter-v11-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/inter-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root,
button {
  font-family: 'Inter', arial, sans-serif;
  font-size: 1rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a {
  color: black;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: #fafafa;
  overflow-x: hidden;
}

.hflex {
  display: flex;
}

.vcenter {
  display: flex;
  align-items: center;
}

.hidden {
  display: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#page-cont {
  width: 85vw;
  margin-left: auto;
  margin-right: auto;
}

img#game {
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  margin-top: 2rem;
  margin-bottom: 6rem;
  transition: 0.3s linear;
}

.blur {
  filter: blur(1.2rem);
  opacity: 0.3;
}

#game-cont {
  min-height: 100vh;
}

.fade-out {
  filter: blur(1.2rem);
  opacity: 0;
}
